.contact-container {
    background-color: #111827; /* Equivalent to bg-gray-900 */
    color: white;
    text-align: center;
    padding: 3rem;
    border-radius: 1.5rem; /* Equivalent to rounded-3xl */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: transition ease-in-out 0.3s;
  }
  
  .contact-container:hover {
    transform: scale(1.05);
  }
  
  .contact-title {
    font-size: 1.875rem; /* Equivalent to text-3xl */
    font-weight: bold;
  }
  
